@charset "UTF-8";
@-webkit-keyframes kf-mainvisual {
  0% {
    -webkit-transform: none;
            transform: none;
    opacity: .3;
  }
  10% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  40% {
    opacity: 0;
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}
@keyframes kf-mainvisual {
  0% {
    -webkit-transform: none;
            transform: none;
    opacity: .3;
  }
  10% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  40% {
    opacity: 0;
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}

html {
  font-size: 62.5%;
}

body {
  color: #333;
  font-family: "Roboto", "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic",
 "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

a {
  cursor: pointer;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

button {
  cursor: pointer;
}

.button-hover {
  position: relative;
  z-index: 10;
  overflow: hidden;
}

.button-hover::after {
  position: absolute;
  z-index: -1;
  -webkit-transform: translate(-30%, -100%);
          transform: translate(-30%, -100%);
  width: 120%;
  height: 120%;
  border-radius: 50%;
  background-color: white;
  content: "";
  -webkit-transition: border-radius 0.3s ease, -webkit-transform 0.3s ease;
  transition: border-radius 0.3s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, border-radius 0.3s ease;
  transition: transform 0.3s ease, border-radius 0.3s ease, -webkit-transform 0.3s ease;
}

@media print, (prefers-reduced-motion: reduce) {
  .button-hover::after {
    -webkit-transition: border-radius 0.3s ease, -webkit-transform 0.3s ease !important;
    transition: border-radius 0.3s ease, -webkit-transform 0.3s ease !important;
    transition: transform 0.3s ease, border-radius 0.3s ease !important;
    transition: transform 0.3s ease, border-radius 0.3s ease, -webkit-transform 0.3s ease !important;
  }
}

.button-hover:hover::after {
  -webkit-transform: none;
          transform: none;
  border-radius: 20%;
}

.hamburger-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  right: 20px;
  bottom: 36px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #221714;
  color: white;
}

@media (min-width: 1024px) {
  .hamburger-btn {
    display: none;
  }
}

.hamburger-btn__line {
  margin-top: 4px;
}

.hamburger-btn__line::before, .hamburger-btn__line::after {
  display: block;
  width: 24px;
  height: 2px;
  margin: 0 auto;
  background-color: white;
  content: "";
  -webkit-transition: width 0.3s ease, -webkit-transform 0.3s ease;
  transition: width 0.3s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, width 0.3s ease;
  transition: transform 0.3s ease, width 0.3s ease, -webkit-transform 0.3s ease;
}

@media print, (prefers-reduced-motion: reduce) {
  .hamburger-btn__line::before, .hamburger-btn__line::after {
    -webkit-transition: width 0.3s ease, -webkit-transform 0.3s ease !important;
    transition: width 0.3s ease, -webkit-transform 0.3s ease !important;
    transition: transform 0.3s ease, width 0.3s ease !important;
    transition: transform 0.3s ease, width 0.3s ease, -webkit-transform 0.3s ease !important;
  }
}

.open .hamburger-btn__line::before, .open .hamburger-btn__line::after {
  width: 20px;
}

.hamburger-btn__line::before {
  margin-bottom: 6px;
}

.open .hamburger-btn__line::before {
  -webkit-transform: translateY(8px) rotate(45deg);
          transform: translateY(8px) rotate(45deg);
}

.hamburger-btn__line::after {
  margin-top: 6px;
}

.open .hamburger-btn__line::after {
  -webkit-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg);
}

.hamburger-btn__line > span {
  display: block;
  width: 24px;
  height: 2px;
  background-color: white;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

@media print, (prefers-reduced-motion: reduce) {
  .hamburger-btn__line > span {
    -webkit-transition: opacity 0.3s ease !important;
    transition: opacity 0.3s ease !important;
  }
}

.open .hamburger-btn__line > span {
  opacity: 0;
}

.sp-block {
  display: block;
}

@media (min-width: 768px) {
  .sp-block {
    display: inline;
  }
}

.wrapper {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.md-deco {
  position: relative;
}

.md-deco::before {
  position: absolute;
  top: -4px;
  left: 0;
  width: 16px;
  height: 2px;
  border-radius: 2px;
  background-color: #D64545;
  content: "";
}

@media (min-width: 1024px) {
  .md-deco::before {
    width: 24px;
  }
}

.md-deco::after {
  position: absolute;
  top: -4px;
  left: 18px;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #D64545;
  content: "";
}

@media (min-width: 1024px) {
  .md-deco::after {
    top: -5px;
    left: 28px;
    width: 4px;
    height: 4px;
  }
}

.img-ratio {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.img-ratio::before {
  display: block;
  padding-top: 61.8%;
  content: "";
}

.img-ratio > img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.square-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 48px;
  border: solid 2px #221714;
  background-color: #221714;
  color: white;
  font-weight: bold;
  font-size: 1.6rem;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

@media print, (prefers-reduced-motion: reduce) {
  .square-btn {
    -webkit-transition: color 0.3s ease !important;
    transition: color 0.3s ease !important;
  }
}

.square-btn:hover {
  color: #221714;
}

.section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-weight: bold;
  font-size: 2.4rem;
}

@media (min-width: 768px) {
  .section-title {
    font-size: 3.2rem;
  }
}

@media (min-width: 1024px) {
  .section-title {
    font-size: 4rem;
  }
}

.section-title-deco {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transform: translateX(-3px);
          transform: translateX(-3px);
  width: 24px;
  height: 2px;
  margin-bottom: 8px;
  border-radius: 2px;
  background-color: #D64545;
}

@media (min-width: 1024px) {
  .section-title-deco {
    width: 40px;
    height: 4px;
  }
  .section-title-deco::after {
    -webkit-transform: translateX(44px);
            transform: translateX(44px);
    width: 6px;
    height: 6px;
  }
}

.section-title-deco::after {
  display: block;
  top: 0;
  -webkit-transform: translateX(27px);
          transform: translateX(27px);
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #D64545;
  content: "";
}

.section-title-en {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .section-title-en {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    font-size: 1.6rem;
  }
}

.circle-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.circle-arrow::after {
  display: block;
  width: 16px;
  height: 16px;
  margin-left: 8px;
  border: solid 1px #D64545;
  border-radius: 50%;
  background-image: url(../img/arrow-red.png);
  background-position: 55% center;
  background-size: 50%;
  background-repeat: no-repeat;
  content: "";
  -webkit-transition: background 0.4s ease;
  transition: background 0.4s ease;
}

@media print, (prefers-reduced-motion: reduce) {
  .circle-arrow::after {
    -webkit-transition: background 0.4s ease !important;
    transition: background 0.4s ease !important;
  }
}

@media (min-width: 1024px) {
  .circle-arrow::after {
    width: 24px;
    height: 24px;
  }
}

.circle-arrow:hover::after {
  background-image: url(../img/arrow-white.png);
  background-color: #D64545;
}

.item-arrow {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 8px;
  background-image: url(../img/arrow.png);
  background-size: cover;
  content: "";
  -webkit-transition: background 0.3s ease, -webkit-transform 0.3s ease;
  transition: background 0.3s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, background 0.3s ease;
  transition: transform 0.3s ease, background 0.3s ease, -webkit-transform 0.3s ease;
}

@media print, (prefers-reduced-motion: reduce) {
  .item-arrow {
    -webkit-transition: background 0.3s ease, -webkit-transform 0.3s ease !important;
    transition: background 0.3s ease, -webkit-transform 0.3s ease !important;
    transition: transform 0.3s ease, background 0.3s ease !important;
    transition: transform 0.3s ease, background 0.3s ease, -webkit-transform 0.3s ease !important;
  }
}

.bg-beige {
  padding: 64px 0;
  background: #FCFAEF;
}

.md-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin: 0 auto;
  font-weight: bold;
  font-size: 1.6rem;
}

@media (min-width: 768px) {
  .md-button {
    font-size: 2rem;
  }
}

.md-button::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #D64545;
  content: "";
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
}

@media print, (prefers-reduced-motion: reduce) {
  .md-button::before {
    -webkit-transition: width 0.4s ease !important;
    transition: width 0.4s ease !important;
  }
}

.md-button:hover::before {
  width: calc(100% - 25px);
}

@media (min-width: 1024px) {
  .md-button:hover::before {
    width: calc(100% - 33px);
  }
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 20;
  height: 60px;
  font-weight: bold;
  font-size: 1.2rem;
}

@media (min-width: 1024px) {
  .header {
    height: 80px;
  }
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding-left: 20px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  background-color: white;
}

@media (min-width: 1024px) {
  .header__inner {
    padding: 0 20px;
  }
}

.header__logo-wrapper {
  width: 240px;
}

@media (min-width: 1024px) {
  .header__logo-wrapper {
    width: 280px;
  }
}

@media (min-width: 1400px) {
  .header__logo-wrapper {
    width: 320px;
  }
}

.header__nav {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 60px;
  left: 0;
  z-index: -1;
  width: 100%;
  padding: 0 20px 40px;
  background-color: white;
  font-size: 1.4rem;
  -webkit-transition: none;
  transition: none;
}

@media print, (prefers-reduced-motion: reduce) {
  .header__nav {
    -webkit-transition: none !important;
    transition: none !important;
  }
}

@media (min-width: 1024px) {
  .header__nav {
    visibility: visible;
    opacity: 1;
    position: static;
    z-index: auto;
    width: auto;
    margin: 0 0 0 auto;
    padding: 0;
    border: none;
    background-color: transparent;
  }
}

@media (min-width: 1400px) {
  .header__nav {
    font-size: 1.6rem;
  }
}

.header__nav.open {
  visibility: visible;
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  -webkit-transition: visibility 0.3s ease, opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: visibility 0.3s ease, opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, visibility 0.3s ease, opacity 0.3s ease;
  transition: transform 0.3s ease, visibility 0.3s ease, opacity 0.3s ease, -webkit-transform 0.3s ease;
}

@media print, (prefers-reduced-motion: reduce) {
  .header__nav.open {
    -webkit-transition: visibility 0.3s ease, opacity 0.3s ease, -webkit-transform 0.3s ease !important;
    transition: visibility 0.3s ease, opacity 0.3s ease, -webkit-transform 0.3s ease !important;
    transition: transform 0.3s ease, visibility 0.3s ease, opacity 0.3s ease !important;
    transition: transform 0.3s ease, visibility 0.3s ease, opacity 0.3s ease, -webkit-transform 0.3s ease !important;
  }
}

@media (min-width: 1024px) {
  .header__nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header__nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
  padding: 0 10px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}

@media (min-width: 1024px) {
  .header__nav-item {
    opacity: 1;
    position: relative;
    -webkit-transform: none;
            transform: none;
    padding: 0;
    border: none;
  }
  .header__nav-item.current {
    pointer-events: none;
  }
  .header__nav-item::before {
    position: absolute;
    bottom: 0;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    width: 100%;
    border-bottom: solid 3px #D64545;
    content: "";
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    -webkit-transform-origin: left;
            transform-origin: left;
  }
}

@media print and (min-width: 1024px), (min-width: 1024px) and (prefers-reduced-motion: reduce) {
  .header__nav-item::before {
    -webkit-transform-origin: left !important;
            transform-origin: left !important;
  }
}

@media (min-width: 1024px) {
  .header__nav-item:hover::before {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

.header__nav-item.current {
  color: #D64545;
}

.open .header__nav-item {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease, -webkit-transform 0.3s ease;
}

@media print, (prefers-reduced-motion: reduce) {
  .open .header__nav-item {
    -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease !important;
    transition: opacity 0.3s ease, -webkit-transform 0.3s ease !important;
    transition: transform 0.3s ease, opacity 0.3s ease !important;
    transition: transform 0.3s ease, opacity 0.3s ease, -webkit-transform 0.3s ease !important;
  }
}

.open .header__nav-item:nth-child(1) {
  -webkit-transition-delay: 0.02s;
          transition-delay: 0.02s;
}

.open .header__nav-item:nth-child(2) {
  -webkit-transition-delay: 0.04s;
          transition-delay: 0.04s;
}

.open .header__nav-item:nth-child(3) {
  -webkit-transition-delay: 0.06s;
          transition-delay: 0.06s;
}

.open .header__nav-item:nth-child(4) {
  -webkit-transition-delay: 0.08s;
          transition-delay: 0.08s;
}

.open .header__nav-item:nth-child(5) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.open .header__nav-item:nth-child(6) {
  -webkit-transition-delay: 0.12s;
          transition-delay: 0.12s;
}

.open .header__nav-item:nth-child(7) {
  -webkit-transition-delay: 0.14s;
          transition-delay: 0.14s;
}

.open .header__nav-item:nth-child(8) {
  -webkit-transition-delay: 0.16s;
          transition-delay: 0.16s;
}

.open .header__nav-item:nth-child(9) {
  -webkit-transition-delay: 0.18s;
          transition-delay: 0.18s;
}

.open .header__nav-item:nth-child(10) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.header__nav-item::after {
  display: block;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 8px;
  height: 8px;
  border-top: solid 2px #D64545;
  border-right: solid 2px #D64545;
  content: "";
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

@media print, (prefers-reduced-motion: reduce) {
  .header__nav-item::after {
    -webkit-transition: -webkit-transform 0.3s ease !important;
    transition: -webkit-transform 0.3s ease !important;
    transition: transform 0.3s ease !important;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease !important;
  }
}

@media (min-width: 1024px) {
  .header__nav-item::after {
    content: none;
  }
}

.header__nav-link {
  display: block;
  width: 100%;
  padding: 16px 0;
  -webkit-transition: none;
  transition: none;
}

@media print, (prefers-reduced-motion: reduce) {
  .header__nav-link {
    -webkit-transition: none !important;
    transition: none !important;
  }
}

@media (min-width: 1024px) {
  .header__nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80px;
    padding: 0 12px;
  }
}

@media (min-width: 1400px) {
  .header__nav-link {
    padding: 0 16px;
  }
}

.header__store {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 120px;
  height: 100%;
  margin-left: 20px;
  border: solid 2px #D64545;
  background-color: #D64545;
  color: white;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

@media print, (prefers-reduced-motion: reduce) {
  .header__store {
    -webkit-transition: color 0.3s ease !important;
    transition: color 0.3s ease !important;
  }
}

@media not all and (min-width: 375px) {
  .header__store {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  .header__store {
    height: 60px;
    margin-left: 16px;
  }
}

@media (min-width: 1400px) {
  .header__store {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 200px;
    font-size: 1.6rem;
  }
}

.header__store > a {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

@media print, (prefers-reduced-motion: reduce) {
  .header__store > a {
    -webkit-transition: color 0.3s ease !important;
    transition: color 0.3s ease !important;
  }
}

.header__store::before {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../img/cart_logo.png);
  background-size: contain;
  content: "";
  -webkit-transition: background-image 0.3s ease;
  transition: background-image 0.3s ease;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

@media print, (prefers-reduced-motion: reduce) {
  .header__store::before {
    -webkit-transition: background-image 0.3s ease !important;
    transition: background-image 0.3s ease !important;
  }
}

@media (min-width: 1400px) {
  .header__store::before {
    width: 25px;
    height: 25px;
    margin-right: 8px;
  }
}

.header__store:hover > a {
  color: #D64545;
}

.header__store:hover::before {
  background-image: url(../img/cart_logo_02.png);
}

.header__mask {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -10;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: opacity 0.3s ease, visibility 0.3s ease;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

@media print, (prefers-reduced-motion: reduce) {
  .header__mask {
    -webkit-transition: opacity 0.3s ease, visibility 0.3s ease !important;
    transition: opacity 0.3s ease, visibility 0.3s ease !important;
  }
}

.header__mask.open {
  visibility: visible;
  opacity: 1;
}

.fv {
  position: relative;
}

.fv__mainvisual {
  position: relative;
  overflow: hidden;
}

.fv__mainvisual::before {
  display: block;
  padding-top: 500px;
  content: "";
}

@media (min-width: 1024px) {
  .fv__mainvisual::before {
    padding-top: 650px;
  }
}

.fv__mainvisual-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-animation-name: kf-mainvisual;
          animation-name: kf-mainvisual;
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -o-object-fit: cover;
     object-fit: cover;
}

.fv__mainvisual-img:nth-of-type(1) {
  -webkit-animation-delay: -10s;
          animation-delay: -10s;
}

.fv__mainvisual-img:nth-of-type(2) {
  -webkit-animation-delay: -20s;
          animation-delay: -20s;
}

.fv__mainvisual-img:nth-of-type(3) {
  -webkit-animation-delay: -30s;
          animation-delay: -30s;
}

.fv__maincopy {
  position: absolute;
  top: 64px;
  width: 100%;
  padding-left: 20px;
  color: white;
  -webkit-filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.4));
}

@media (min-width: 768px) {
  .fv__maincopy {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@media (min-width: 1024px) {
  .fv__maincopy {
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    max-width: 1500px;
    padding-left: 50px;
  }
}

.fv__maincopy-title {
  font-weight: bold;
  font-size: 2.2rem;
  letter-spacing: 0.096em;
}

@media not all and (min-width: 375px) {
  .fv__maincopy-title {
    font-size: 2rem;
  }
}

@media (min-width: 1024px) {
  .fv__maincopy-title {
    font-size: 3.2rem;
  }
}

.fv__maincopy-title .upper {
  font-size: 3rem;
  letter-spacing: 0.1em;
}

@media not all and (min-width: 375px) {
  .fv__maincopy-title .upper {
    font-size: 2.6rem;
  }
}

@media (min-width: 1024px) {
  .fv__maincopy-title .upper {
    font-size: 4.2rem;
    letter-spacing: 0.12em;
  }
}

.fv__maincopy-text {
  font-weight: 500;
  font-size: 1.6rem;
  letter-spacing: 0.048em;
}

@media not all and (min-width: 375px) {
  .fv__maincopy-text {
    font-size: 1.4rem;
  }
}

@media (min-width: 1024px) {
  .fv__maincopy-text {
    font-size: 2rem;
  }
}

.feature {
  position: relative;
  padding: 48px 0 62px;
  background-color: #FCFAEF;
}

.feature::before {
  opacity: 0.1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(../img/bg-brown.jpg);
  content: "";
}

.feature__inner {
  position: relative;
}

@media (min-width: 1024px) {
  .feature__inner {
    min-height: 247px;
  }
}

.feature__title {
  font-weight: bold;
  font-size: 1.8rem;
}

@media (min-width: 768px) {
  .feature__title {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
    margin-left: 336px;
  }
}

@media (min-width: 1024px) {
  .feature__title {
    margin-left: 440px;
    font-size: 2.4rem;
  }
}

.feature__img-wrapper {
  height: 100%;
  margin-top: 16px;
}

@media (min-width: 768px) {
  .feature__img-wrapper {
    position: absolute;
    top: 0;
    width: 320px;
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .feature__img-wrapper {
    width: 400px;
    height: auto;
  }
}

.feature__text {
  margin-top: 16px;
  font-weight: 500;
  font-size: 1.4rem;
}

@media (min-width: 768px) {
  .feature__text {
    margin-left: 336px;
  }
}

@media (min-width: 1024px) {
  .feature__text {
    margin-left: 440px;
    font-size: 1.6rem;
  }
}

.feature__btn {
  margin: 40px auto 0;
}

@media (min-width: 768px) {
  .feature__btn {
    margin-left: 336px;
  }
}

@media (min-width: 1024px) {
  .feature__btn {
    position: absolute;
    bottom: 0;
    margin-left: 440px;
  }
}

.products {
  margin-top: 64px;
}

@media (min-width: 1024px) {
  .products {
    margin-top: 80px;
  }
}

.products__container {
  margin-top: 64px;
}

.products__category-title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
}

.products__category-title {
  font-size: 1.8rem;
}

@media not all and (min-width: 375px) {
  .products__category-title {
    font-size: 1.6rem;
  }
}

@media (min-width: 768px) {
  .products__category-title {
    font-size: 2.4rem;
  }
}

@media (min-width: 1024px) {
  .products__category-title {
    font-size: 3.2rem;
  }
}

.products__category-btn {
  position: relative;
  font-size: 1.4rem;
}

@media not all and (min-width: 375px) {
  .products__category-btn {
    font-size: 1.2rem;
  }
}

@media (min-width: 1024px) {
  .products__category-btn {
    font-size: 1.6rem;
  }
}

.products__category-btn::before {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #D64545;
  content: "";
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
}

@media print, (prefers-reduced-motion: reduce) {
  .products__category-btn::before {
    -webkit-transition: width 0.4s ease !important;
    transition: width 0.4s ease !important;
  }
}

.products__category-btn:hover::before {
  width: calc(100% - 25px);
}

@media (min-width: 1024px) {
  .products__category-btn:hover::before {
    width: calc(100% - 33px);
  }
}

@media (min-width: 1024px) {
  .products__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
  }
}

.products__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-height: 120px;
  margin-top: 16px;
}

@media (min-width: 1024px) {
  .products__desc {
    display: block;
    margin-top: 24px;
  }
}

.products__desc-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: 50% 42%;
  background-size: cover;
}

@media (min-width: 1024px) {
  .products__desc-bg {
    position: relative;
    width: 240px;
  }
}

.products__desc-bg.products-01 {
  background-image: url(../img/product01_01.jpeg);
}

.products__desc-bg.products-02 {
  background-image: url(../img/product02_01.jpg);
}

.products__desc-bg.products-03 {
  background-image: url(../img/product03_01.jpeg);
}

.products__desc-bg::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
}

@media (min-width: 1024px) {
  .products__desc-bg::before {
    content: none;
  }
}

@media (min-width: 1024px) {
  .products__desc-bg::after {
    display: block;
    padding-top: 133.3%;
    content: "";
  }
}

.products__desc-text {
  z-index: 10;
  padding: 24px 20px;
  color: white;
  font-weight: 500;
  font-size: 1.4rem;
}

@media (min-width: 1024px) {
  .products__desc-text {
    width: 240px;
    padding: 16px 0 0 0;
    color: #333;
    font-size: 1.6rem;
  }
}

.products__list {
  display: -ms-grid;
  display: grid;
  margin-top: 32px;
  padding: 0 20px;
  -ms-grid-columns: (minmax(160px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 32px 24px;
}

@media not all and (min-width: 375px) {
  .products__list {
    -ms-grid-columns: (minmax(120px, 1fr))[1];
        grid-template-columns: repeat(1, minmax(120px, 1fr));
  }
}

@media (min-width: 768px) {
  .products__list {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .products__list {
    margin: 24px 0 0 48px;
    padding: 0;
    gap: 48px 24px;
  }
}

.products__link:hover .item-arrow {
  -webkit-transform: translateX(8px);
          transform: translateX(8px);
  background-image: url(../img/arrow-red.png);
}

.products__link:hover .products__item-img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.products__item-img-wrapper {
  position: relative;
}

.products__item-img-wrapper::before {
  display: block;
  width: 100%;
  padding-top: 61.8%;
  content: "";
}

.products__item-img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  -o-object-fit: contain;
     object-fit: contain;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

@media print, (prefers-reduced-motion: reduce) {
  .products__item-img {
    -webkit-transition: -webkit-transform 0.3s ease !important;
    transition: -webkit-transform 0.3s ease !important;
    transition: transform 0.3s ease !important;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease !important;
  }
}

.products__item-title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  margin: 0 auto;
  padding-top: 16px;
  font-weight: bold;
  font-size: 1.4rem;
}

@media (min-width: 768px) {
  .products__item-title {
    font-size: 1.8rem;
  }
}

.products__item-text {
  width: 85%;
  margin: 0 auto;
  padding-top: 8px;
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .products__item-text {
    font-size: 1.4rem;
  }
}

.products__btn {
  margin-top: 48px;
}

.recipe {
  margin-top: 80px;
}

@media (min-width: 1024px) {
  .recipe {
    margin-top: 120px;
  }
}

@media (min-width: 1024px) {
  .recipe__inner {
    padding: 0 50px;
  }
}

.recipe__container {
  position: relative;
  height: auto;
  margin-top: 32px;
  padding-bottom: 64px;
}

.recipe__link:hover .item-arrow {
  -webkit-transform: translateX(8px);
          transform: translateX(8px);
  background-image: url(../img/arrow-red.png);
}

.recipe__img-wrapper {
  position: relative;
  overflow: hidden;
}

.recipe__img-wrapper::before {
  display: block;
  width: 100%;
  padding-top: 61.8%;
  content: "";
}

.recipe__img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.recipe__item-title {
  padding: 8px 8px 0;
  font-weight: bold;
  font-size: 1.4rem;
}

@media (min-width: 1024px) {
  .recipe__item-title {
    font-size: 2rem;
  }
}

.recipe__item-text {
  padding: 4px 8px 0;
  font-size: 1.2rem;
}

@media (min-width: 1024px) {
  .recipe__item-text {
    font-size: 1.4rem;
  }
}

.recipe__btn {
  margin-top: 16px;
}

@media (min-width: 768px) {
  .recipe__btn {
    margin-top: 40px;
  }
}

.recipe .swiper {
  width: 100%;
  height: 100%;
}

.recipe .swiper-slide {
  height: 100%;
  padding: 0 16px;
}

.recipe .swiper-button-prev,
.recipe .swiper-button-next {
  top: 99%;
  width: 16px;
  height: 16px;
  background-image: url(../img/arrow.png);
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

@media print, (prefers-reduced-motion: reduce) {
  .recipe .swiper-button-prev,
  .recipe .swiper-button-next {
    -webkit-transition: background 0.3s ease !important;
    transition: background 0.3s ease !important;
  }
}

.recipe .swiper-button-prev::before,
.recipe .swiper-button-next::before {
  position: absolute;
  width: 32px;
  height: 32px;
  border: solid 1px #333;
  border-radius: 50%;
  content: "";
  -webkit-transition: border 0.3s ease;
  transition: border 0.3s ease;
}

@media print, (prefers-reduced-motion: reduce) {
  .recipe .swiper-button-prev::before,
  .recipe .swiper-button-next::before {
    -webkit-transition: border 0.3s ease !important;
    transition: border 0.3s ease !important;
  }
}

.recipe .swiper-button-prev::after,
.recipe .swiper-button-next::after {
  display: none;
}

.recipe .swiper-button-prev:hover,
.recipe .swiper-button-next:hover {
  background-image: url(../img/arrow-red.png);
}

.recipe .swiper-button-prev:hover::before,
.recipe .swiper-button-next:hover::before {
  border: solid 1px #D64545;
}

.recipe .swiper-button-prev {
  left: calc(50% - 32px);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.recipe .swiper-button-next {
  right: calc(50% - 32px);
}

.question {
  position: relative;
  margin-top: 64px;
}

@media (min-width: 1024px) {
  .question {
    margin-top: 80px;
  }
}

.question::before {
  opacity: 0.1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(../img/bg-brown.jpg);
  content: "";
}

.question__inner {
  position: relative;
  z-index: 10;
  max-width: 1000px;
  margin: 0 auto;
}

.question__list {
  margin: 32px 20px 0;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

.question__list-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 0;
  border-top: solid 1px rgba(0, 0, 0, 0.2);
  font-size: 1.4rem;
  line-height: 1.2;
  cursor: pointer;
}

@media (min-width: 768px) {
  .question__list-title {
    font-size: 1.6rem;
  }
  .question__list-title::before {
    font-size: 1.8rem;
  }
  .question__list-title::after {
    width: 16px;
    height: 16px;
  }
}

.question__list-title::before {
  margin-right: 16px;
  padding-left: 8px;
  font-size: 1.6rem;
  content: "Q";
}

.question__list-title::after {
  display: block;
  -webkit-transform: translateX(-8px) rotate(90deg);
          transform: translateX(-8px) rotate(90deg);
  width: 12px;
  height: 12px;
  margin-left: auto;
  background-image: url(../img/arrow.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

@media print, (prefers-reduced-motion: reduce) {
  .question__list-title::after {
    -webkit-transition: -webkit-transform 0.3s ease !important;
    transition: -webkit-transform 0.3s ease !important;
    transition: transform 0.3s ease !important;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease !important;
  }
}

.question__list-title--open:last-of-type {
  border-bottom: none;
}

.question__list-title--open::after {
  -webkit-transform: translateX(-8px) rotate(270deg);
          transform: translateX(-8px) rotate(270deg);
}

.question__answer {
  visibility: hidden;
  opacity: 0;
  position: relative;
  margin-bottom: -150px;
  padding: 0 36px 24px;
  border: none;
  font-weight: 500;
  font-size: 1.4rem;
  -webkit-transition: opacity 0.3s ease, visibility 0.3s ease, margin 0.5s ease;
  transition: opacity 0.3s ease, visibility 0.3s ease, margin 0.5s ease;
}

@media print, (prefers-reduced-motion: reduce) {
  .question__answer {
    -webkit-transition: opacity 0.3s ease, visibility 0.3s ease, margin 0.5s ease !important;
    transition: opacity 0.3s ease, visibility 0.3s ease, margin 0.5s ease !important;
  }
}

@media (min-width: 768px) {
  .question__answer {
    font-size: 1.6rem;
  }
  .question__answer::before {
    font-size: 1.8rem;
  }
}

.question__answer::before {
  position: absolute;
  left: 0;
  padding-left: 8px;
  font-weight: bold;
  font-size: 1.6rem;
  content: "A";
}

.question__answer--open {
  visibility: visible;
  opacity: 1;
}

.question__btn {
  margin-top: 40px;
}

.store {
  margin-top: 64px;
}

@media (min-width: 1024px) {
  .store {
    margin-top: 80px;
  }
}

.store__container {
  margin-top: 32px;
}

@media (min-width: 768px) {
  .store__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.store__img-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

@media (min-width: 768px) {
  .store__img-wrapper {
    min-width: 320px;
    max-width: 400px;
  }
}

.store__img-wrapper::before {
  display: block;
  padding-top: 100%;
  content: "";
}

.store__img {
  position: absolute;
  bottom: 0;
  width: 110%;
  height: 110%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 40%;
     object-position: 40%;
}

.store__des {
  position: relative;
}

@media (min-width: 768px) {
  .store__des {
    padding-left: 16px;
  }
}

@media (min-width: 1024px) {
  .store__des {
    padding-left: 40px;
  }
}

.store__des-title {
  margin-top: 32px;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 1;
}

@media (min-width: 768px) {
  .store__des-title {
    font-size: 2rem;
  }
  .store__des-title:first-of-type {
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .store__des-title {
    margin-top: 48px;
  }
  .store__des-title:first-of-type {
    font-size: 2.4rem;
  }
}

.store__text {
  margin-top: 16px;
  font-size: 1.4rem;
}

@media (min-width: 1024px) {
  .store__text {
    font-size: 1.8rem;
  }
}

.store__btn {
  margin: 40px auto 0;
}

@media (min-width: 768px) {
  .store__btn {
    margin-left: 0;
  }
}

@media (min-width: 1024px) {
  .store__btn {
    position: absolute;
    bottom: 0;
  }
}

.footer {
  margin-top: 80px;
  padding-top: 60px;
  background-color: #FCFAEF;
}

@media (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__logo-wrapper {
  max-width: 400px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .footer__logo-wrapper {
    margin: 0;
  }
}

.footer__sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 160px;
  margin: 24px auto 0;
}

@media (min-width: 768px) {
  .footer__sns {
    margin: 0;
  }
}

.footer__sns-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.footer__sns-item.insta {
  background-color: #221714;
}

.footer__sns-item.insta img {
  width: 55%;
  height: 55%;
}

.footer__sns-link {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.footer__nav {
  margin-top: 32px;
  font-weight: bold;
  font-size: 1.4rem;
}

.footer__nav-list {
  border-top: solid 1px rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
  .footer__nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border: none;
  }
}

@media (min-width: 768px) {
  .footer__nav-item {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    padding: 0 16px;
  }
}

.footer__nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 0;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

@media print, (prefers-reduced-motion: reduce) {
  .footer__nav-link {
    -webkit-transition: color 0.3s ease !important;
    transition: color 0.3s ease !important;
  }
}

.footer__nav-link::after {
  display: block;
  width: 12px;
  height: 12px;
  background-image: url(../img/arrow.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

@media print, (prefers-reduced-motion: reduce) {
  .footer__nav-link::after {
    -webkit-transition: background 0.3s ease !important;
    transition: background 0.3s ease !important;
  }
}

.footer__nav-link:hover {
  color: #D64545;
}

.footer__nav-link:hover::after {
  background-image: url(../img/arrow-red.png);
}

.footer__copyright {
  margin-top: 60px;
  padding: 8px 0;
  background-color: #221714;
  color: white;
  font-size: 1.2rem;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */
